{% extends "base.html" %}
{% load static %}

<style>
{% block deta  %}
    .estilo{
      background-color:FFF!important;
      color:black !important;
      font-family: times new roman;
    }
{% endblock %}
</style>




{% block content %}

<h2>
    tem se tornado um grande problema ambiental quando não descartado em locais adeguado.
</h2>

<p class="lead">
    Os lixos eletrônicos, também conhecidos como pela sigla REEE (Resíduos de Equipamentos Eletro Eletrônicos), quando descartados de modo incorreto podem gerar sérios riscos ao meio ambiente. Este fator se
    dá devido ao uso de metais pesados altamente tóxicos na composição destes equipamentos. Dentre estes metais, os mais comumente encontrados são o mercúrio, berílio e chumbo. Soma-se a estes metais outros
    diversos componentes químicos. Quando o descarte incorreto ocorre, tais materiais são enterrados junto dos equipamentos, sendo então absorvidos pelos solos com os quais tiveram contato, contaminando,
    posteriormente, os lençóis freáticos. Outro método incorreto (e comumente feito) é o da queimada dos materiais, liberando toxinas extremamente perigosas no ar. Além destes fatores expostos (que afetam
    a humanidade de forma direta) ainda encontra-se em risco o trabalhador responsável pelo descarte irregular, visto seu contato direto com tais fumaças tóxicas ou até mesmo pelo consumo de água próximo
    a regiões de descarte (quando enterrados), podendo causar graves danos à saúde. Assim, o descarte correto é de extrema importância não só para o meio ambiente, mas também para a saúde humana.
</p>


{% endblock %}


{% block baixo %}
{% load static %}
<hr class="footer"  width="100%"/>
<div class="footer">
<footer class="text-align-center">
        <p><i>by Equipe projeto integrador</i><br/>
        <a href="http://facebook.com/bone.lmago"target="_blank">facebook</a>
        <a href="http://twitter.com/DruDruu"target="_blank">twiter</a>
        </p>
</footer>
</div>

{% endblock %}

