{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="row">
      <div class="col-sm-6 ">
          <h1 class="text-align-center"><strong>Locais de coleta</strong></h1>
          <h4>Semma- Secretaria Municipal de Meio Ambiente</h4>

          <p>Local: Centro Administrativo Municipal</p>
          <p>Endereço: Avenida Brasil, nº 225 - Jardim América</p>
          <p>Horário: das 07h às 18h</p>
          <p>Telefone: (35) 3239.7149</p>
          <p>E-mail: semma.tc10@yahoo.com.br</p>

     <br/>

         <h4>Horto Municipal</h4>
          <p>Endereço: Rua dos Escoteiros, nº 251- Chacará das Rosas</p>
          <p>Horário: atendimento ao público das 07h às 12h</p>

      <br/>

          <h4>IEF - Instituto Estadual de Florestas</h4>
          <p>Local: Centro Administrativo Municipal</p>
          <p>Endereço: Avenida Brasil, nº 225 - Jardim América</p>
          <p>Horário: atendimento ao público das 07h às 12h</p>

     <br/>

          <h2>Tipos de materias</h2>
          <p>-Residuos eletrônicos</p>


      </div>
  </div>

{% endblock %}

